@media (max-width: 46.25em) {
  .main-container {
    margin-top: 10%;
  }

  .form {
    display: flex;
    flex-wrap: wrap;
  }
  .app-container {
    margin-inline: 0;
  }

  .bill-amount {
    margin-bottom: 2rem;
  }
}

@media (max-width: 24em) {
  html {
    font-size: 50%;
  }
}
